*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: darkslategray;
}

header{
    color:white;
    text-align: center;
    padding-top: 100px;
}

form{
    text-align: center;
    padding: 8px 0px 25px;
}

form button{
    background-color: green;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color:rgb(0, 167, 0);
}

form input{
    background-color: white;
}

form button, input{
    border: none;
    padding: 8px;
    font-weight: bold;
    font-size: medium;
}

li{
    color: white;
    font-size: 25px;
    margin-left: 42%;
    cursor: pointer;
}

.riscado{
    text-decoration: line-through;
}